@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Source+Sans+Pro&display=swap');

:root{
    --background: #000000;
    --main-color: #ffffff;
    --second-color: rgb(58, 86, 128);
    --second-color-alpha60: rgba(58, 86, 128, 0.6);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::before, 
::after {
    box-sizing: border-box;
}
.hidden{
    display: none !important;
}
body{
    min-height: 100vh;
    background: var(--background);
    font-size: 16px;
    font-weight: 300;
    color: var(--main-color);
    line-height: 1.5;
    padding: 5vh 15px;
}
h1,h2{
    font-family: 'Playfair Display', serif;
}
p, button{
    font-family: 'Source Sans Pro', sans-serif;
}
.main{
    max-width: 1350px;
    margin: auto;
    position: relative;
}
.introduction{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home-img,.home-info{
    width: 50%;
}
.home-img img{
    width: 100%;
    max-width: 800px;
    padding-right: 40px;
}
.home-info h1{
    font-size: 55px;
}
.home-info h2{
    font-size: 30px;
}
.container{
    width: 100%;
}
.switches{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}
 button{
    font-size: 22px;
    padding: 10px 40px;
    margin: 0 30px;
    color: var(--main-color);
    background-color: var(--second-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.switches button:hover{
    background-color: var(--second-color-alpha60);
    transition: all 0.3s ease-in;
}
.input{
    width: 100%;
}
.input-salary{
    font-family: 'Source Sans Pro', sans-serif;
    height: 40px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    text-align: center;
}
.input span{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin: 0 10px;
}
.contract-of-employment{
    transition: all 0.5s ease;
}
.input form{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    padding: 50px 0;
    line-height: 2.5;
    max-width: 450px;
}
.contract-of-employment .first-form input[type="checkbox"],.second-form input[type="radio"]{
    cursor: pointer;
    accent-color: var(--second-color);
    position: relative;
    transform: scale(2.5);
    float: right;
    top: 20px;
}
section button{
    display: flex;
    margin: 0 auto;
}
section button:hover{
    background-color: var(--second-color-alpha60);
    transition: all 0.3s ease-in;
}
.second-form p{
    font-size: 25px;
    text-align: center;
}

