@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Source+Sans+Pro&display=swap');

:root{
    --background: #000000;
    --main-color: #ffffff;
    --second-color: rgb(58, 86, 128);
    --second-color-alpha60: rgba(58, 86, 128, 0.6);
    --error-color: #ff0000;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::before, 
::after {
    box-sizing: border-box;
}
.hidden{
    display: none !important;
}
body{
    min-height: 100vh;
    background: var(--background);
    font-size: 16px;
    font-weight: 300;
    color: var(--main-color);
    line-height: 1.5;
    padding: 5vh 15px;
}
h1,h2{
    font-family: 'Playfair Display', serif;
}
p, button{
    font-family: 'Source Sans Pro', sans-serif;
}
img{
    user-select: none;
}
.main{
    max-width: 1350px;
    margin: auto;
    position: relative;
}
.introduction{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home-img{
    width: 40%;
}
.home-info{
    width: 60%;
}
.home-img img{
    width: 100%;
    max-width: 350px;
    padding-right: 50px;
}
.home-info h1{
    font-size: 55px;
}
.home-info h2{
    font-size: 30px;
}
.container{
    width: 100%;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: var(--white);
}
::-webkit-scrollbar-thumb{
    background-color: var(--second-color);
}
.switches{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    display: none;
}
.switches.active{
    display: flex;
}
.input{
    display: none;
}
.input.active{
    display: block;
}
.output{
    display: none;
}
.output.active{
    display: block;
}
.calculate{
    display: flex;
}
button{
    font-size: 22px;
    padding: 10px 40px;
    margin: 0 30px;
    color: var(--main-color);
    background-color: var(--second-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.switches button:hover{
    background-color: var(--second-color-alpha60);
}
#salary{
    font-family: 'Source Sans Pro', sans-serif;
    height: 40px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    text-align: center;
}
.input span{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin: 0 10px;
}
.contract-of-employment,.contract-of-mandate,.contract-work{
    transition: all 0.5s ease;
}
.input form{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    padding: 50px 0;
    line-height: 2.5;
}
.first-form,.second-form,.third-form{
    max-width: 580px;
}
.first-form input[type="checkbox"],.second-form input[type="radio"],.third-form input[type="radio"]{
    cursor: pointer;
    accent-color: var(--second-color);
    position: relative;
    transform: scale(2.5);
    float: right;
    top: 20px;
}
.third-form label[for="twentyPercent"],.third-form label[for="fiftyPercent"]{
    padding: 0 15px;
    float: right;
}
section button{
    display: flex;
    margin: 0 auto;
}
section button:hover{
    background-color: var(--second-color-alpha60);
    transition: all 0.3s ease-in;
}
.second-form p{
    font-size: 25px;
    text-align: center;
}
.switches .form-of-employment.active{
    background-color: gray;
    cursor: default;
}
section{
    display: none;
}
section.active{
    display: block;
}
.output .employeeSalary td{
    padding: 0 60px;
    font-size: 25px;
}
#tableNetSalary,#tableGrossSalary{
    padding-right: 5px;
    font-weight: 700;
}
.output .employeeSalary .pln{
    float: left;
    padding-left: 0;
    font-weight: 700;
}
.output .employeeCostsInfo td{
    font-size: 22px;
}
.output p{
    font-size: 22px;
    margin: 35px 0 20px 0;
}
.output .employeeCostsInfo .firstCol{
    padding-right: 180px;
}
.output .employeeCostsInfo .secondCol{
    padding-right: 5px;
    text-align: right;
}
#firstRow,#secondRow{
    font-weight: 700;
}
.employeeCosts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.employeeCostsInfo{
    width: 60%;
}
.output-img{
    width: 40%;
}
.output-img img{
    width: 100%;
    max-width: 320px;
    padding-right: 10px;
    padding-top: 60px;
}
.formError{
    margin-top: 10px;
    color: var(--error-color);
}
footer{
  text-align: center;
  padding-top: 40px;
  max-height: 40px;
}
footer p{
    font-size: 18px;
}
footer img{
    max-width: 250px;
}
@media only screen and (max-width: 900px){
    .home-img,.home-info{
        width: 100%;
    }
    .home-info{
        text-align: center;
    }
    .home-img img{
        display: block;
        margin: 0 auto;
    }
    button{
        padding: 10px 20px;
        margin: 0 20px;
    }
    .input.active{
        text-align: center;
    }
    .first-form,.second-form,.third-form{
        margin: 0 auto;
        text-align: left;
    }
}
@media only screen and (max-width: 710px){
    .switches{
        flex-wrap: wrap;
    }
    button{
        margin-bottom: 25px;
    }
    .second-form label{
        display: inline-block;
        max-width: 500px;
    }
    .first-form,.third-form{
        max-width: 450px;
    }
    .home-info h1{
        font-size: 38px;
    }
    .home-info h2{
        font-size: 25px;
    }
}
@media only screen and (max-width: 585px){
    .second-form label{
        margin-left: auto;
        max-width: 400px;
    }
    .second-form input[type="radio"]{
        float: left;
        margin-right: 20px;
        margin-left: 20px;
    }
}
@media only screen and (max-width: 485px){
    .first-form{
        max-width: 350px;
    }
    .second-form label{
        max-width: 270px;
    }
    .third-form{
        width: 250px;
    }
}